<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /appsas/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /appsas/index.html [L]
</IfModule>
